doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    link(rel="stylesheet", href="/style.css")
    .container
      h1 로그인
      form(action="/api/v1/users/login", method="post")
        div.form-group
          label(for="email") 이메일
          input(type="text", id="email", name="email", placeholder="이메일을 입력해주세요")
        div.form-group
          label(for="password") 비밀번호
          input(type="password", id="password", name="password", placeholder="비밀번호를 입력해주세요")
        div.button-group
          button(type="submit") 로그인
        a(href="/users/signup")
          button(type="button") 회원가입
